<div class="jumbotron text-center">
    <h1 class="center">Welcome to Pokemon Battle Arena</h1>

    <h2>
      This is the home page for the Pokemon Battle Arena Simulation!
    </h2>

    <%= link_to "Battle Now!", new_pokemon_battle_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="jumbotron" style="background-image: url('<%=asset_path('container_bg.png')%>')"></div>